################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/wem/bin/Debug
/wem/obj/x86/Debug
*.suo
